[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20.10.0"

[dev]
  command = "npm run dev"
  port = 8888

[[plugins]]
  package = "@netlify/plugin-nextjs"
